USE [master]
GO
/****** Object:  Database [BanVeMayBay]    Script Date: 10/01/2018 4:20:57 PM ******/
CREATE DATABASE [BanVeMayBay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanVeMayBay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BanVeMayBay.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BanVeMayBay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BanVeMayBay_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanVeMayBay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanVeMayBay]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 10/01/2018 4:20:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_CTHD]    Script Date: 10/01/2018 4:20:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_CTHD](
	[MaHD] [varchar](10) NOT NULL,
	[MaMB] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_tb_CTHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_HoaDon]    Script Date: 10/01/2018 4:20:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_HoaDon](
	[MaHD] [varchar](10) NOT NULL,
	[NgayLap] [date] NULL,
	[NguoiLap] [varchar](10) NULL,
	[KhachHang] [varchar](30) NULL,
 CONSTRAINT [PK_tb_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_KhachHang]    Script Date: 10/01/2018 4:20:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_KhachHang](
	[MaKH] [varchar](30) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[NamSinh] [date] NULL,
	[SDT] [varchar](20) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Diem] [int] NULL,
	[Email] [varchar](30) NULL,
 CONSTRAINT [PK_tb_KhachHan] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_MayBay]    Script Date: 10/01/2018 4:20:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_MayBay](
	[MaMB] [varchar](10) NOT NULL,
	[TenMB] [nvarchar](30) NULL,
	[DonGia] [int] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_tb_MayBay] PRIMARY KEY CLUSTERED 
(
	[MaMB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_NhanVien]    Script Date: 10/01/2018 4:20:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[TenNV] [nvarchar](30) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[NamSinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](21) NULL,
	[MatKhau] [varchar](20) NULL,
 CONSTRAINT [PK_tb_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Login] ([USERNAME], [PASSWORD]) VALUES (N'lehoang09', N'lehoang09')
INSERT [dbo].[tb_CTHD] ([MaHD], [MaMB], [SoLuong], [DonGia]) VALUES (N'HD001', N'MB001', 1, 15000)
INSERT [dbo].[tb_CTHD] ([MaHD], [MaMB], [SoLuong], [DonGia]) VALUES (N'HD001', N'MB002', 1, 16000)
INSERT [dbo].[tb_CTHD] ([MaHD], [MaMB], [SoLuong], [DonGia]) VALUES (N'HD005', N'MB003', 187000, 1)
INSERT [dbo].[tb_HoaDon] ([MaHD], [NgayLap], [NguoiLap], [KhachHang]) VALUES (N'HD001', CAST(N'2013-01-24' AS Date), N'NV001', N'KH001')
INSERT [dbo].[tb_HoaDon] ([MaHD], [NgayLap], [NguoiLap], [KhachHang]) VALUES (N'HD003', CAST(N'2017-12-29' AS Date), N'NV002', N'KH001')
INSERT [dbo].[tb_HoaDon] ([MaHD], [NgayLap], [NguoiLap], [KhachHang]) VALUES (N'HD004', CAST(N'2018-01-07' AS Date), N'NV002', N'KH003')
INSERT [dbo].[tb_KhachHang] ([MaKH], [TenKH], [GioiTinh], [NamSinh], [SDT], [DiaChi], [Diem], [Email]) VALUES (N'KH001', N'Lê Milu', N'Nữ', CAST(N'1998-06-10' AS Date), N'0938782321', N'TPHCM', 0, N'Milu90@gmail.com')
INSERT [dbo].[tb_KhachHang] ([MaKH], [TenKH], [GioiTinh], [NamSinh], [SDT], [DiaChi], [Diem], [Email]) VALUES (N'KH002', N'Lê Mai', N'Nam', CAST(N'1997-05-10' AS Date), N'093878232', N'LongAn', 0, NULL)
INSERT [dbo].[tb_KhachHang] ([MaKH], [TenKH], [GioiTinh], [NamSinh], [SDT], [DiaChi], [Diem], [Email]) VALUES (N'KH003', N'Lê lê', N'Nữ', CAST(N'2018-01-07' AS Date), N'324234', N'weqwe', 0, N'dsfsdf')
INSERT [dbo].[tb_MayBay] ([MaMB], [TenMB], [DonGia], [SoLuong]) VALUES (N'MB001', N'HNYB', 156666, 1)
INSERT [dbo].[tb_MayBay] ([MaMB], [TenMB], [DonGia], [SoLuong]) VALUES (N'MB002', N'HCMHN', 160000, 1)
INSERT [dbo].[tb_MayBay] ([MaMB], [TenMB], [DonGia], [SoLuong]) VALUES (N'MB003', N'HCMLA', 170000, 0)
INSERT [dbo].[tb_NhanVien] ([MaNV], [TenNV], [GioiTinh], [NamSinh], [DiaChi], [SDT], [MatKhau]) VALUES (N'NV001', N'Lê Hoàng Anh Minh', N'Nam', CAST(N'2017-12-23' AS Date), N'Hutech', N'0987878', N'khongbiet1')
INSERT [dbo].[tb_NhanVien] ([MaNV], [TenNV], [GioiTinh], [NamSinh], [DiaChi], [SDT], [MatKhau]) VALUES (N'NV002', N'Minh Anh Lê', N'Nam', CAST(N'2017-12-23' AS Date), N'Long An', N'0938782342', N'khongbiet2')
INSERT [dbo].[tb_NhanVien] ([MaNV], [TenNV], [GioiTinh], [NamSinh], [DiaChi], [SDT], [MatKhau]) VALUES (N'NV003', N'Lê Hoàng Anh Em', N'Nam', CAST(N'2017-12-22' AS Date), N'Hà Nam', N'093547443', N'')
ALTER TABLE [dbo].[tb_CTHD]  WITH CHECK ADD  CONSTRAINT [FK_tb_CTHD_tb_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[tb_HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[tb_CTHD] CHECK CONSTRAINT [FK_tb_CTHD_tb_HoaDon]
GO
ALTER TABLE [dbo].[tb_CTHD]  WITH CHECK ADD  CONSTRAINT [FK_tb_CTHD_tb_MayBay1] FOREIGN KEY([MaMB])
REFERENCES [dbo].[tb_MayBay] ([MaMB])
GO
ALTER TABLE [dbo].[tb_CTHD] CHECK CONSTRAINT [FK_tb_CTHD_tb_MayBay1]
GO
ALTER TABLE [dbo].[tb_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_tb_HoaDon_tb_KhachHang] FOREIGN KEY([KhachHang])
REFERENCES [dbo].[tb_KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[tb_HoaDon] CHECK CONSTRAINT [FK_tb_HoaDon_tb_KhachHang]
GO
ALTER TABLE [dbo].[tb_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_tb_HoaDon_tb_NhanVien1] FOREIGN KEY([NguoiLap])
REFERENCES [dbo].[tb_NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tb_HoaDon] CHECK CONSTRAINT [FK_tb_HoaDon_tb_NhanVien1]
GO
USE [master]
GO
